<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% block body %}
    <section>
        {% include 'messages.html' %}
        {% block content %}

        {% endblock  %}
    </section>
    {% include 'footer.html' %}
    {% endblock %}
</body>
</html>